BasedOnStyle: LLVM
UseTab: ForIndentation
IndentWidth: 4
TabWidth: 4
ColumnLimit: 120
ContinuationIndentWidth: 4
BreakBeforeBraces: Allman
BraceWrapping:
  AfterControlStatement: false
  AfterFunction: true
  AfterStruct: true
  AfterEnum: true
  BeforeElse: true
AllowShortIfStatementsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: BlockIndent
PointerAlignment: Left
SortIncludes: Never
IndentCaseLabels: true
SpaceBeforeParens: ControlStatements
AlignConsecutiveDeclarations: false
